* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
}

.wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    border: 2px red solid;
}

#video-player {
    overflow: hidden;
}

#capture-btn {
    position: absolute;
    /* top: 0px;
    left: 0px; */
    transform: translate(-50%, -50%);
}