* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
}

.wrapper {
    position: relative;
    height: 100%;
}

#video-player {
    position: fixed;
    top: 50%; left: 50%;
    z-index: 1;
    transform: translate(-55%, -50%);
}

#capture-btn {
    /* margin: auto;
    margin-top: 10px;
    display: block; */
    /* position: absolute;
    bottom: 2rem; */
    font-size: larger;
    height: 50px;
    width: 50px;
    border: none;
    outline: none;
    border-radius: 50%;
}

#capture-btn:active {
    background-color: #C0C0C0;
}

#target-box {
    display: block;
    margin: auto;
    margin-top: 60px;
    /* height: 400px; */
    width: 180px;
    border: 2px red solid;
}

#instruction {
    margin-top: 20px;
    font-family: 'DM Sans', sans-serif;
    color: white;
}

#camera-footer {
    position: fixed;
    left: 0;
    bottom: 25px;
    width: 100%;
    background-color: transparent;
    /* border: 1px yellow solid; */
}

#option-box {
    height: 100%;
    width: 100%;
    position: absolute;
    text-align: center;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    /* top: 50%;
    left: 50%; */
    z-index: 2;
    /* transform: translate(-50%, -50%); */
    /* border: 1px blue solid; */
    background-color: rgba(0, 0, 0, 0.3);
}