.buttonWpr {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 12px;
  font-size: 14px;
  font-weight: 700;
  color: #222;
  border-radius: 4px;
  border: none;
  background-color: var(--button-bg);
}

.buttonWpr.isCenter {
  margin: 0px auto;
}
