@font-face {
  font-family: myFont;
  src: url(../font/dm_sans_regular.ttf);
}
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: myFont;
  overflow-x: hidden;
}
img {
  width: 70%;
  margin: auto;
}

#heart {
  width: 25px;
  vertical-align: sub;
}

#skills-heading {
  padding-left: 10px;
  border-left: 10px #e73c7e solid;
  transition: 0.2s;
}
#projects-heading {
  display: inline-block;
  margin-right: 7px;
}
#projects-heading {
  padding-left: 10px;
  border-left: 10px #23d5ab solid;
  transition: 0.2s;
}
#contact-heading {
  padding-left: 10px;
  border-left: 10px #23a6d5 solid;
  transition: 0.2s;
}
#presence-heading {
  padding-left: 10px;
  border-left: 10px #9b59b6 solid;
  transition: 0.2s;
}
#home {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 1em;
  margin-bottom: 20px;
}
.case {
  margin-top: 30px;
  display: grid;
  align-items: center;
  text-align: center;
  margin-bottom: 30px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
.case > div {
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 5px;
}
.case > div > a {
  color: #000;
}
.case > div > a:hover {
  text-decoration: none;
}
#copyright {
  text-align: center;
  padding: 4px;
  color: #fff;
  background-color: #303030;
}
.container {
  margin-left: 20px;
  margin-right: 20px;
}
/* For scroll bar */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #888;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
/* scroll bar ends */
#github-contact,
#gmail-contact,
#internet-contact,
#linkedin-contact {
  width: 40px;
}
#self {
  margin: auto;
  text-align: center;
  padding-top: 10px;
}
#me {
  background-color: #303030;
  padding: 5px;
  color: #fff;
}

#me-2 {
  font-size: 55px;
}
#bio {
  font-size: 17px;
  padding-left: 30px;
  padding-right: 30px;
  box-sizing: border-box;
}
.header-bar {
  height: 10px;
  background: linear-gradient(-10deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 300%;
  background-repeat: no-repeat;
  animation: gradient 6s ease infinite;
}
@keyframes gradient {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}
.float {
  position: fixed;
  width: 50px;
  height: 50px;
  top: 20px;
  left: 10px;
  background-color: #fab95f;
  color: white;
  border-radius: 50px;
  text-align: center;
  z-index: 1;
  box-shadow: 2px 2px 3px #999;
  opacity: 0.6;
  transition: 0.2s;
}
.float:hover {
  opacity: 1;
}
.my-float {
  margin-top: 18px;
}
.case,
.skills {
  margin-top: 20px;
  display: grid;
  text-align: center;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
.skills {
  margin-bottom: 40px;
}
.case {
  align-items: baseline;
  margin-bottom: 60px;
}
.projects {
  margin-top: 20px;
  margin-bottom: 40px;
  display: grid;
  align-items: top;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}
/* .contact-me-form {
	display: grid;
	align-items: top;
	text-align: center;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
} */
.card:hover {
  border-radius: 5px;
  transition: 0.1s;
  box-shadow: 5px 5px 10px #30303030;
}
.skills > div {
  margin: 5px;
}

.contact-me {
  margin-top: 20px;
  margin-bottom: 50px;
}

/* .contact-me-form > div{
	margin-bottom: 20px;
} */

#form-name,
#form-email {
  font-family: myFont;
  font-size: 18px;
  width: 50%;
  height: 24px;
  border: none;
  border-bottom: 2px #1569c7 solid;
  padding-left: 5px;
  margin-bottom: 20px;
  outline: none;
  /* background-color: #fab95f; */
}

#form-name:focus {
  border-bottom: 2px #1abc9c solid;
}
#form-email:focus {
  border-bottom: 2px #1abc9c solid;
}
#form-message:focus {
  border-bottom: 2px #1abc9c solid;
}

#form-message {
  font-family: myFont;
  font-size: 18px;
  width: 50%;
  border: none;
  border-bottom: 2px #1569c7 solid;
  padding-left: 5px;
  margin-bottom: 20px;
  outline: none;
  resize: none;
}
#my-form-button {
  font-family: myFont;
  background-color: #303030;
  border: 1px #303030 solid;
  border-radius: 2px;
  color: white;
  width: 4rem;
  padding: 5px;
  outline: none;
  cursor: pointer;
}

.langs-logo {
  /* margin: 5px 5px; */
  width: 30%;
}

#resume-btn {
  color: white;
  text-decoration: none;
  font-size: larger;
  padding: 5px 10px;
  background: linear-gradient(-10deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  border-radius: 3px;
  background-size: 300%;
  background-repeat: no-repeat;
  animation: gradient 6s ease infinite;
}

.card {
  padding: 10px;
  /* border: 1px #C0C0C0 solid; */
  border-radius: 5px;
}

.card-main {
  display: flex;
  justify-content: space-between;
}

.card-data {
  font-size: 14px;
}

.card .card-tech-stack {
  display: flex;
  justify-content: space-between;
  font-size: 13px;
}

@media only screen and (max-width: 665px) {
  #bio {
    font-size: 18px;
  }
  .image-one {
    display: none;
  }
  .image-two {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 80%;
  }
  #self {
    padding-top: 50px;
  }
  .projects {
    grid-template-columns: repeat(auto-fit, minmax(325px, 1fr));
  }
  .skills > div,
  .case > div {
    margin-bottom: 20px;
  }
  #form-name,
  #form-email,
  #form-message {
    width: 100%;
  }
}
@media only screen and (min-width: 665px) {
  .image-one {
    padding-top: 20px;
  }
  .image-two {
    display: none;
  }
}
/* @media screen and (min-width:665px){#copyright{position:fixed;left:0;bottom:0;width:100%;}} @media screen and (min-width:1500px) and (max-width:1920px){#copyright{position:relative;margin:auto;width:99.5%;text-align:center;padding:4px;color:#fff;background-color:#303030;}} */
